{% extends 'base.html' %}
{% block content %}
<h1>Devices</h1>
<div class="panel">
  <table>
    <thead><tr><th>Device</th><th>Machine</th><th>Connectivity</th><th>State</th><th>Current Task</th><th>Version</th><th>Last Heartbeat</th><th>Detail</th></tr></thead>
    <tbody>
    {% for item in workers %}
      <tr>
        <td>{{ item.worker.worker_id }}</td>
        <td>{{ item.worker.machine_name }}</td>
        <td class="{{ 'ok' if item.connectivity == 'online' else 'bad' }}">{{ item.connectivity }}</td>
        <td class="{{ 'warn' if item.state == 'needs_attention' else '' }}">{{ item.state }}</td>
        <td>{{ item.worker.current_task_id or '-' }}</td>
        <td>{{ item.worker.app_version or '-' }}</td>
        <td>{{ item.worker.last_heartbeat_at }}</td>
        <td><a class="inline" href="/workers/{{ item.worker.worker_id }}">view</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
